body{
	height: 100%;
	margin: 0;
}
img{

}
.header{
	background-color: lightgray;
	text-align: center;
	padding: 30px;
}
.bottom{
	background-color: lightgray;
	text-align: center;
	padding: 15px;
}
.column{
	background-color: darkgray;
	float: left;
	width: 20%;
	height: 300px;
}
.column-main{
	background-color: white;
	float: left;
	width: 60%;
	height: 300px;
}
@media(max-width: 600px){
	.column{
		width:100%;
		height: 200px;
	}
	.column-main{
		width: 100%;
	}
}
.card{
	box-shadow: 13px 8px 12px 0 rgba(0, 0, 0, 0.2);
	width: 20.7%;
	height: 90%;
	margin: 10px 30px;
	background-color: gray;
}
.card:hover{
	background-color: darkgray;
	box-shadow: 13px 16px 12px rgba(0, 0, 0, 0.2);
}
img{
	width: 100%;
	height: 50%;
}
.card-caption{
	padding: 2px 15px;
}



.banner-img{
	background-image: url("img4.jpg");
	background-position: 5% 30%;
	height: 60%;
}
.banner-text{
	text-align: center;
	position: absolute;
	background-color: rgba(33, 33, 33, 0.6);
	top: 10%;
	left: 35%;
	color: white;
}
.banner-h2{
	font-size: 60px;
}
.banner-p{
	font-size: 30px;
}
